body{

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDeAPDY7dPXWEqi34PkYo8Yrx2w_XazDrvsA&usqp=CAU");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    color:white;
}